/*
 * dammIT stylesheet - blue
 * Created by Michiel Scholten
 * mbscholt at aquariusoft dot org
 * 
 * $Id$
 */

/*
 * http://wellstyled.com/tools/colorscheme2/index-en.html?triad;50;0;239;0.8333333333333334;0.49411764705882355;0.8333333333333334;0.3458823529411765;0.20833333333333334;1;0.4166666666666667;1;0.8333333333333334;0.49411764705882355;0.8333333333333334;0.3458823529411765;0.20833333333333334;1;0.4166666666666667;1;0.8333333333333334;0.49411764705882355;0.8333333333333334;0.3458823529411765;0.20833333333333334;1;0.4166666666666667;1;0.8333333333333334;0.49411764705882355;0.8333333333333334;0.3458823529411765;0.20833333333333334;1;0.4166666666666667;1;0
 */

/*** The body tag ***/
body
{
/*	margin: 5px 10px 5px 10px;
	padding: 5px 25px 5px 100px;*/
/*	background: #a7c8e4 url("images/background_repeating_03.png");*/
	background: #15317E;
/*	background: #1458B8;
	background: #014DB8;*/
	background: #838F67;
        color: #222;
        font-family: Verdana, "Lucida Sans", Arial, Geneva, Helvetica, Helv, "Myriad Web", Syntax, sans-serif;
        font-size: 80%;
}

/*** Headers ***/
h1
{
	color: #454545;
	background: transparent;
	font-size: 175%;
	font-weight: bold;
	margin-top: .7em;
	margin-bottom: 1em;
/*	text-shadow: #C0C0C0 2px 2px 2px;*/
}

h2
{ 
	font-size: 130%;
	font-weight: bold; 
	color: #707070;
	background: inherit;
	padding-bottom: 0;
	margin-bottom: 0;
	margin-top: .5em;
	margin-top: 1.5em;
	margin-top: 2em;
	padding-top: 0;
}

	h2 a, h3 a
	{
		color: #707070;
	}

h3
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 110%; 
	font-weight: bold; 
	background: transparent;
	color: #707070;
	border: none;
	margin-bottom: 0;
	padding-bottom: 0;
}

h4
{ 
	display: inline;
	padding: 0;
	margin: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold; 
	color: #707070;
	background: transparent;
}

h5
{ 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold; 
	color: #aa0000;
	background: transparent;
	display: inline;
}

h6
{ 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold; 
	color: #aa0000;
	background: transparent;
	display: inline;
}

/*** Various html objects ***/
a
{
	color: #222;
	background: transparent;
	text-decoration: none;
	border-bottom: 1px dotted #15317E;
}

a:hover
{
	color: #15317E;
	background: transparent;
	border-bottom: 1px solid #15317E;
}

	.ranttitle a, .ranttitle a:hover
	{
		border: 0;
	}

img
{
	border: 0px;
}

th
{
	font-weight: bold;
	text-align: left;
	background: #0F2258;
	color: #FFF;
}

th, td
{
	padding: .2em;
	padding-right: 1em;
}

tr.odd td
{
	color: #000;
	background: #e4ebff;
}

/* turn off borders so we don't need border=0 on image links */
:link img, :visited img
{
	border: 0;
}

a img, .images a
{
	border: none;
}

/* If the link is one to an external page, add the link icon [breaks the validation, but it's cool enough to keep] */
a[href^="http:"]
{
	/*background: transparent url("http://www.cs.vu.nl/~mbscholt/images/link.gif") 100% 50% no-repeat;*/
	background: transparent url("images/link.gif") 100% 50% no-repeat;
	padding-right: 10px;
}

/* otherwise, don't [breaks the validation, but it's cool enough to keep] */
a[class^="plain"], a[href^="http://aquariusoft.org/~mbscholt/"], .images a, #license a, #main-content-nav a
{
	background: inherit;
/*	color: inherit;*/
	padding-right: 0px;
}

abbr, acronym
{
	border-bottom: 1px dotted #A0A0A0;
	cursor: help;
}

input, textarea, button
{
/*	border:1px solid #95B1FF;
	background: #e4ebff;*/
/*	background: #CAD8FF;*/
	border:1px solid #5C6448;
	background: #FAFFED;
	color: #000000;
}

	input.searchfield
	{
		width: 150px;
	}

textarea
{
	width: 100%;
}

input:focus, textarea:focus
{
	border: 1px solid #15317E;
	color: inherit;
	background: #FFFFFF;
}

em
{
	color:#4076a3;
	background: transparent;
}

pre
{
	margin: 5px 0 5px 0;
	padding: .3em 0 .3em 1em;
	overflow: auto;
	background: transparent;
	font: 1em "Courier New", monospace;
}

code
{
	font: 1em "Courier New", monospace;
}

p
{
	text-align: justify;
	padding: 2px 4px 2px 0;
	padding: .2em .2em 1em 0;
	margin: 0;
}

ul li
{
	list-style-type: square;
}

blockquote
{
	background: #15317E;
	background: transparent;
	background-image: url("images/quote_transparent.png");
	background-position: top left;
	background-repeat: no-repeat;
	color: #FFF;
	color: inherit;
	padding-top: 15px;
	text-align: justify;
	border-left: 6px solid #0F2258;
	border-left: 6px solid #e4ebff;
	border-left: 4px solid #15317E;
	margin-left: 15px;
	margin-right: 0;
	padding-left: 25px;
	padding-right: .5em;
/*	padding-bottom: .2em;*/
}
/*
	blockquote a
	{
		color: #FFF;
		border-bottom: 1px dotted #FFF;
	}

	blockquote a:hover
	{
		color: #FFF;
		background-color: inherit;
		border-bottom: 1px solid #FFF;
	}
*/
.strike
{
	text-decoration: line-through;
}


.wrapperbox
{
	text-align: center;
	padding: 0;
}

.page
{
	width: 780px;
	/*max-width: 945px;*/
	margin: 1em auto 1em auto;
	padding: 0;
	text-align: left;
	/*background-color: transparent;
	background-image: url("images/content_bg.png");
	background-repeat: repeat-y;*/
	background: #FFF;
}




/*** Various blocks ***/
#logo
{
	top: 25px;
/*	position: absolute;*/
	left: 8px;
	width: 300px;
	height: 75px;
/*	z-index: 5;*/

	padding: 0;
	background: transparent;
	text-align: left;
/*	border: 1px solid #FFF;*/
}

	#logo a
	{
		border: none;
	}


.outtake
{
	background: #838F67;
	width: 205px;
	padding: 10px;
}

#main-navbar
{
	padding: 15px 10px 7px 10px;
/*	top: 120px;
	left: 25px;*/
	width: 171px;

	background: #0F2258;
	background: #5C6448;
	color: #fff;
	text-align: left;
	border: 1px solid #FFF;
}

	#main-navbar a
	{
		color: white;
		background: transparent;
		font-size: 100%;
		text-decoration: none;
		border-bottom: 0px;
	}

	#main-navbar a:hover
	{
		text-decoration: underline;
	}

	#main-navbar ul, #main-content-nav ul
	{
		margin-top: 0px;
		padding-top: 4px;
		padding-left: 8px;
		margin-left: 8px;
		margin-bottom: 4px;

	}

	#main-navbar li, #main-content-nav li
	{
		padding-left: 0;
		margin-left: 0;
		list-style-type: none;
	}

	#main-navbar .nav-header
	{
		font-weight: bold;
		border-bottom: 1px solid #FFFFFF;
		padding-bottom: 0px;
	}

#main-nav ul
{
	padding-left: 0;
	margin-left: 0;

}

	#main-nav li
	{
		margin-left: -15px;

		list-style-type: none;
	}

	#main-nav a
	{
		width: 100%;
		display: block;
		padding: 1px 2px 1px 2px;
	}

	#main-nav a:hover
	{
		color: #000;
		background-color: #e4ebff;
		padding: 0px 1px 0px 1px;
		border: 1px solid #95B1FF;
	}

	/* Not valid css, but at least a nice way of putting the shortcut behind the link text */
	#main-nav a:hover::after, 
	#main-nav .main.a:focus::after {
		content: " [" attr(accesskey) "]";
	}

	.images
	{
		margin-top: 5px;
		padding-top: 5px;
		text-align: center;
		border-top: 1px solid #FFFFFF;
	}

	.images ul
	{
		padding-left: 1em;
		padding-right: 1em;
		margin: 0;
	}

	.images ul li
	{
		list-style-type: none;
		list-style-image: none;
		padding-left: 1em;
		padding-right: 1em;
		margin: 0;
	}


#license
{
	float: right;
	right: 45px;
	top: 40px;
	margin-bottom: .5em;
}

#main-content
{
	float: left;
/*	padding: 100px 240px 4px 75px;
	padding: 10px 220px 1em 1em;*/
	padding: 10px 10px 1em 1em;
/*	min-height: 130em;*/
	min-height: 140em;
/*	max-width: 750px;*/
	width: 540px;
	background: #FFFFFF;
	color: inherit;
	line-height: 1.4; /* IE-bug workaround */
}

	#main-content ul li
	{
		list-style-image: url("images/bullet.gif");
	}

	#main-content ul.archive li
	{
		list-style-type: none;
		list-style-image: none;
		margin-left: -1em;
	}

	.ie-warning
	{
		border: 1px solid #FF0000;
		padding: 5px;
	}


#main-content-nav
{

/*	position: absolute;*/
	float: left;
	top: 100px;
	right: 2px;
	width: 200px;
	/*border-left: 1px dashed #000;*/
	/*border-left: 1px solid #E4EBFF;*/
	padding: 0.5em;

	/* Make it glassed, so if the window is made too narrow, the bar has a translucent background */
	background-image: url('images/alpha.png');
/*
	background-color: #fff;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
*/
}

	#main-content-nav ul li
	{
		font-size: .85em;
		list-style-image: url(images/bullet.gif);
	}

	#main-content-nav .images
	{
		/*border-top: 1px solid #707070;*/
		border: none;
	}

	#main-content-nav .nav-header,
	#readerpublishermodule0 h3
	{
		margin-top: 0;
		color: #000;
		font-weight: bold;
		border-bottom: 1px solid #000000;
		padding-bottom: 0px;
	}

	#readerpublishermodule0 h3
	{
		font-size: 1em;
	}

	#readerpublishermodule0 .f
	{
		font-size: .8em;
		text-align: right;
	}


	#main-content-nav .images ul li
	{
		list-style-type: none;
		list-style-image: none;
		padding-left: 1em;
		padding-right: 1em;
		margin: 0;
	}

.pageversion
{
	font-size: 70%;
}

.error
{
	color: #DD0000;
	background-color: inherit;
}

p.globalmessage
{
	background-color: #FAF4C8;
	border: 1px solid #E3DE9F;
	padding: .3em;
	/*color: #A19D68;*/
}

/* Blocks within content block */
.grouped
{
	margin-left: 1em;
}

.rant
{
/*
	-moz-column-width: 25em;
	-moz-column-gap: 3em;
*/
}

.info
{
	font-size: 75%;
	margin-top: .3em;
	padding: .2em;
	background: #e4ebff;
	background: #838F67;
	color: #FFF;
}

.related
{
	font-size: 75%;
	background: transparent;
	color: inherit;
	text-align: right;
}
/*
	.blogmark blockquote p
	{
		padding-left: 0;
	}
*/
.blogmark .edit
{
	margin-left: 15px;
}

.weeklyblogmarks
{
	font-size: 75%;
	color: #909090;
/*	padding-left: 1em;*/
}

	.weeklyblogmarks a
	{
		color: #909090;
	}


/* Date field in archive listing */
.date
{
	width: 3em;
	font-weight: bold;
	display: block;
	float: left;
}

.mininav
{
	/* Get the Creative Commons logo out of our way */
	clear: both;

	font-size: 75%;
	background: transparent;
	color: inherit;
	padding: 2px 0px 2px 0px;
	/*border-top: 1px dotted #4F91C9;
	border-bottom: 1px dotted #4F91C9;*/
	text-align: left;
	margin-top: 1em;
}

.heading
{
	font-weight: bold;
}

.browsenav
{
	font-size: 75%;
	background: transparent;
	color: inherit;
	padding-bottom: .3em;
}

	.browsenav .previous
	{
		float: left;
		width: 49%;
		text-align: right;
	}

	.browsenav .next
	{
		float: right;
		width: 50%;
		text-align: left;
	}

.edit
{
	font-size: 75%;
	background: transparent;
	color: #15317E;
	border: 1px solid #15317E;
	border-width: 0px 0px 1px 0px;
	text-align: left;
}


/* Image with a nice border and dropshadow */
.content-image
{
	float: left;
	background: url("images/shadow1.gif") no-repeat bottom right;
	margin: 10px 0 0 10px !important;
	margin: 10px 0 0 5px;
}

	.content-image div
	{
		background: url("images/shadow2.png") no-repeat left top !important;
		background: url("images/shadow2.gif") no-repeat left top;
		padding: 0px 5px 5px 0px;
	}

	.content-image img
	{
		background-color: #fff;
		border: 1px solid #a9a9a9;

		padding: 4px;
	}

	.content-image a
	{
		background: inherit;
		padding-right: 0px;
		border: 0;
		margin: 0;
	}


#morphix
{
	position: relative;
	right: 10px;
}

.comment
{
	margin: 10px;
	padding: 10px;
	padding-left: 0px;
}

	.comment_info
	{
		padding: .2em;
		color: #707070;
		font-size: 90%;
	}

	.comment_nr
	{
		color: #707070;
		width: 25px;
		font-size: 1.5em;
		font-style: italic;
	}

	.comment_nr_disabled
	{
		color: #DD0000;
		font-size: 130%;
	}

	.comment_datestamp, .comment_name
	{
		font-size: 90%;
	}

	.comment_message
	{
		margin-left: 28px;
		padding-top: .5em;
		padding-bottom: .5em;
	}


.comment_listitem, .comment_listitem_disabled
{
	font-size: .8em;
	color: #707070;
}

	.comment_listitem_disabled
	{
/*		text-decoration: italic;*/
		color: #D00;
	}

.note
{
	font-size: .8em;
	color: #707070;
}

	.note a
	{
		color: #707070;
	}


#footer
{
	margin-top: 10px;
	clear: both;
	font-size: 75%;
	background: transparent;
	color: inherit;
	padding: 2px 1px 2px 1px;
	border-top: 2px solid #838F67;
	text-align: right;
}


.column_left, .column_right
{
	float: left;
/*	width: 47%;
	padding: .5em;
	margin-right: .2em;*/
	width: 49%;
}

	.column_left
	{
		margin-right: 2%;
	}

	.columnright
	{
/*		margin-left: 1%;*/
	}

.rootblock
{
	background:#FFFFFF url(images/stripe.gif) repeat scroll 0 0;
/*	border-color:#EEEEEE;*/
	border: 1px solid #EEE;
	padding: .5em;
	margin-bottom: 1em;
}

	.rootblock h2
	{
		margin: 0;
		margin-bottom: 1em;
		padding: .5em;
		background: #FFF;
		border: 1px solid #EEE;
	}

	.rootblock h3
	{
		margin: 0;
		padding-left: 1em;
	}

.button
{
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	margin: 0;
	margin-top: 1em;
	padding: .5em;
	background: #FFF;
	border: 1px solid #EEE;
	font-weight: bold;
	color: #707070;
}

	a.button:hover
	{
		color: #5C6448;
		border: 1px solid #5C6448;
		background: #FFF;
	}	

/*** Notes ***/
/*
border-width:
	This property is a shorthand for the border-top-width, border-right-width, border-bottom-width, and border-left-width properties.
*/

/*** EOF ***/
