/*
 * dammIT stylesheet
 * Created by Michiel Scholten
 * mbscholt at aquariusoft dot org
 * 
 * $Id$
 */

html
{
	padding: 0;
	margin: 0;
	border: 0;
}

/*** The body tag ***/
body
{
	background: #838F67;
        color: #222;
        font-family: Verdana, "Lucida Sans", Arial, Geneva, Helvetica, Helv, "Myriad Web", Syntax, sans-serif;
        font-size: 13px;
	padding: 0;
	margin: 0;
}

/*** Headers ***/
h1
{
	color: #454545;
	color: #39414F;
	background: transparent;
	font-size: 175%;
	font-weight: bold;
	margin-top: .7em;
	margin-bottom: 1em;
/*	text-shadow: #C0C0C0 2px 2px 2px;*/
}

h2
{ 
	font-size: 130%;
	font-weight: bold; 
	color: #FFF;
	background: #39414F;
	padding-bottom: 0;
	margin-bottom: 0;
	margin-top: .5em;
	margin-top: 1.5em;
	margin-top: 2em;
	padding: .2em;
}

	h2 a, h2 a:hover
	{
		color: #FFF;
		border-bottom: 1px dotted #FFF;
	}

	h2 a:hover
	{
		border-bottom: 1px solid #FFF;
	}

	h3 a
	{
		color: #FFF;
	}

h3
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 110%; 
	font-weight: bold; 
	background: #39414F;
	color: #707070;
	color: #FFF;
	border: none;
	margin-bottom: 0;
	padding-bottom: 0;
	padding: .2em;
}

	form h3, form h2
	{
		margin-top: 0;
		padding-top: 0;
		padding: 0;
		color: #39414F;
		background: transparent;
	}

	h3 a, h3 a:hover
	{
		color: #FFF;
		border: 0;
	}

h4
{ 
	display: inline;
	padding: 0;
	margin: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold; 
	color: #707070;
	background: transparent;
}

h5
{ 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold; 
	color: #aa0000;
	background: transparent;
	display: inline;
}

h6
{ 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold; 
	color: #aa0000;
	background: transparent;
	display: inline;
}

/*** Various html objects ***/
a
{
	color: #39414F;
	background: transparent;
	text-decoration: none;
	border-bottom: 1px dotted #39414F;
}

a:hover
{
	color: #39414F;
	background: transparent;
	border-bottom: 1px solid #39414F;
}

	.ranttitle a, .ranttitle a:hover
	{
		border: 0;
	}

img
{
	border: 0px;
}

th
{
	font-weight: bold;
	text-align: left;
	background: #39414F;
	color: #FFF;
}

th, td
{
	padding: .2em;
	padding-right: 1em;
}

tr.odd td
{
	color: #000;
	background: #e4ebff;
}

/* turn off borders so we don't need border=0 on image links */
:link img, :visited img
{
	border: 0;
}

a img, .images a
{
	border: none;
}

/* If the link is one to an external page, add the link icon [breaks the validation, but it's cool enough to keep] */
/*
a[href^="http:"]
{
	background: transparent url("images/link.gif") 100% 50% no-repeat;
	padding-right: 10px;
}
*/
/* otherwise, don't [breaks the validation, but it's cool enough to keep] */
/*
a[class^="plain"], a[href^="http://aquariusoft.org/~mbscholt/"], .images a, #license a, #main-content-nav a
{
	background: inherit;
	padding-right: 0px;
}
*/

abbr, acronym
{
	border-bottom: 1px dotted #A0A0A0;
	cursor: help;
}

textarea
{
	width: 98%;
}

em
{
	color: #39414F;
	background: transparent;
}

pre
{
	margin: 5px 0 5px 0;
	padding: .3em 0 .3em 1em;
	overflow: auto;
	background: transparent;
	font: 1em "Courier New", monospace;
}

code
{
	font: 1em "Courier New", monospace;
}

p
{
	text-align: justify;
	padding: 2px 4px 2px 0;
	padding: .2em .2em 1em 0;
	margin: 0;
	margin-top: .2em;
}

form p
{
	padding-bottom: .2em;
}

ul li
{
	list-style-type: square;
}

blockquote
{
	background: transparent;
/*	background-image: url("images/quote_transparent.png");*/
	background-image: url("images/quote_open.png");
	background-position: top left;
/*	background-position: -7px 0;*/
	background-repeat: no-repeat;
	color: #FFF;
	color: inherit;
	padding-top: 10px;
	text-align: justify;
	border-left: 4px solid #5C6448;
	margin-left: 15px;
	margin-right: 0;
	padding-left: 20px;
	padding-right: .5em;
}

.strike
{
	text-decoration: line-through;
}


.wrapperbox
{
	text-align: center;
	padding: 0;
	margin: 0;
}

.page
{
	width: 880px;
/*	margin: 1em auto 1em auto;*/
	margin: 0 auto 0 auto;
	padding: 0;
	text-align: left;
	background: #FFF;
}




/*** Various blocks ***/
#logo
{
	height: 140px;
	padding: 0;
	background: transparent;
	text-align: left;
}

	#logo a
	{
		border: none;
	}


#license
{
	float: right;
	right: 45px;
	top: 40px;
	margin-bottom: .5em;
}

#main-content
{
	float: left;
	padding: 10px 10px 1em 1em;
	min-height: 140em;
	width: 640px;
	background: #FFFFFF;
	color: inherit;
	line-height: 1.4; /* IE-bug workaround */
}

	#main-content ul li
	{
		list-style-image: url("images/bullet.gif");
	}

	#main-content ul.archive li
	{
		list-style-type: none;
		list-style-image: none;
		margin-left: -1em;
	}

	.ie-warning
	{
		border: 1px solid #FF0000;
		padding: 5px;
	}


#main-content-nav
{
	float: right;
/*	top: 100px;
	right: 2px;*/
	width: 210px;
	padding: 0;
	margin: 0;
	padding-left: .5em;
	padding-bottom: .5em;

	/* Make it glassed, so if the window is made too narrow, the bar has a translucent background */
/*	background-image: url('images/alpha.png');*/
/*
	background-color: #fff;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
*/
}

	#main-navbar ul, #main-content-nav ul
	{
		margin-top: 0px;
		padding-top: 4px;
		padding-left: 8px;
		margin-left: 8px;
		margin-bottom: 4px;
		padding-right: 4px;
	}

	#main-navbar li, #main-content-nav li
	{
		padding-left: 0;
		margin-left: 0;
	}

	#main-content-nav ul li
	{
		font-size: .85em;
		list-style-image: url(images/bullet.gif);
	}

	/*#main-content-nav .images*/
	.images
	{
		/*border-top: 1px solid #707070;*/
		border: none;
	}

	#main-content-nav .nav-header
	{
		margin-top: 1em;
		color: #39414F;
		font-weight: bold;
		border-bottom: 1px solid #39414F;
		padding-bottom: 0px;
	}

	#main-content-nav .images ul li
	{
		list-style-type: none;
		list-style-image: none;
		padding-left: 1em;
		padding-right: 1em;
		margin: 0;
	}


#main-navbar
{
/*	padding: 7px 10px 7px 10px;*/
/*	width: 171px;*/
	background: #5C6448;
	color: #fff;
	text-align: left;
/*	border: 1px solid #FFF;*/
}

	#main-navbar ul
	{
		padding-top: 0;
		padding-right: 0;
	}

	#main-navbar ul li
	{
		list-style-type: none;
		list-style-image: none;
	}

	#main-navbar a
	{
		text-decoration: none;
		border: 0;
	}

	#main-navbar .nav-header
	{
		font-weight: bold;
		border-bottom: 1px solid #FFFFFF;
		padding-bottom: 0px;
	}


#main-nav ul
{
	padding: 0;
	margin: 0;
}

	#main-nav ul li
	{
		list-style-type: none;
	}

	#main-nav li
	{
		margin-left: -17px;
		margin-left: -16px;

		list-style-type: none;
	}

	#main-nav a
	{
		color: #FFF;
		font-weight: bold;
		display: block;
		padding: 5px 6px 5px 6px;
	}

	#main-nav a:hover
	{
		color: #000;
		color: #FFF;
		font-weight: bold;
		background-color: #838F67;
		padding: 5px 6px 5px 6px;
/*		padding: 2px 3px 2px 3px;
		border: 1px solid #FFF;*/
	}

	/* Not valid css, but at least a nice way of putting the shortcut behind the link text */
	#main-nav a:hover::after, 
	#main-nav .main.a:focus::after {
		content: " [" attr(accesskey) "]";
	}

	.images
	{
		margin-top: 5px;
		padding-top: 5px;
		text-align: center;
		border-top: 1px solid #FFFFFF;
	}

	.images ul
	{
		padding-left: 1em;
		padding-right: 1em;
		margin: 0;
	}

	.images ul li
	{
		list-style-type: none;
		list-style-image: none;
		padding-left: 1em;
		padding-right: 1em;
		margin: 0;
	}

	.pageversion
	{
		border-top: 1px dotted #FFF;
/*		padding-top: 2px;*/
		padding: 3px;
		padding-left: 6px;
		font-size: 70%;
	}

.error
{
	color: #DD0000;
	background-color: inherit;
}

p.globalmessage
{
	background-color: #FAF4C8;
	border: 1px solid #E3DE9F;
	padding: .3em;
	/*color: #A19D68;*/
}

/* Blocks within content block */
.grouped
{
	margin-left: 1em;
}

.rant
{
/*
	-moz-column-width: 25em;
	-moz-column-gap: 3em;
*/
}

.info
{
	font-size: 75%;
	margin-top: 0;
	margin-bottom: .5em;
	padding: .2em;
	padding-top: 0;
	background: transparent;
	border-bottom: 1px dotted #39414F;
}

.related
{
	font-size: 75%;
	background: transparent;
	color: inherit;
	text-align: right;
}

.blogmark .edit
{
	margin-left: 15px;
}

.weeklyblogmarks
{
	font-size: 75%;
}

	.weeklyblogmarks h3, .weeklyblogmarks h3 a, .weeklyblogmarks h3 a:hover
	{
		background: transparent;
		color: #39414F;
		padding: 0;
	}

	.weeklyblogmarks h3 a:hover
	{
		border-bottom: 1px solid #39414F;
	}

/* Date field in archive listing */
.date
{
	width: 3em;
	font-weight: bold;
	display: block;
	float: left;
}

.mininav
{
	/* Get the Creative Commons logo out of our way */
	clear: both;

	font-size: 75%;
	background: transparent;
	color: inherit;
	padding: 2px 0px 2px 0px;
	text-align: left;
	margin-top: 1em;
}

.heading
{
	font-weight: bold;
}

.browsenav
{
	font-size: 75%;
	background: transparent;
	color: inherit;
	padding-bottom: .3em;
}

	.browsenav .previous
	{
		float: left;
		width: 49%;
		text-align: right;
	}

	.browsenav .next
	{
		float: right;
		width: 50%;
		text-align: left;
	}

.edit
{
	font-size: 75%;
	background: transparent;
	color: #15317E;
	border: 1px solid #15317E;
	border-width: 0px 0px 1px 0px;
	text-align: left;
}


/* Image with a nice border and dropshadow */
.content-image
{
	float: left;
	background: url("images/shadow1.gif") no-repeat bottom right;
	margin: 10px 0 0 10px !important;
	margin: 10px 0 0 5px;
}

	.content-image div
	{
		background: url("images/shadow2.png") no-repeat left top !important;
		background: url("images/shadow2.gif") no-repeat left top;
		padding: 0px 5px 5px 0px;
	}

	.content-image img
	{
		background-color: #fff;
		border: 1px solid #a9a9a9;

		padding: 4px;
	}

	.content-image a
	{
		background: inherit;
		padding-right: 0px;
		border: 0;
		margin: 0;
	}


#morphix
{
	position: relative;
	right: 10px;
}

.comment
{
	margin: 10px;
	padding: 10px;
	padding-left: 0px;
}

	.comment_info
	{
		padding: .2em;
		font-size: 75%;
	}

	.comment_nr
	{
		color: #5C6448;
		width: 25px;
		font-size: 1.5em;
		font-style: italic;
	}

	.comment_nr_disabled
	{
		color: #DD0000;
		font-size: 130%;
	}

	.comment_datestamp, .comment_name
	{
		font-size: 90%;
	}

	.comment_message
	{
		margin-left: 28px;
		padding-top: .5em;
		padding-bottom: .5em;
	}


.comment_listitem, .comment_listitem_disabled
{
	font-size: .8em;
	color: #707070;
}

	.comment_listitem_disabled
	{
/*		text-decoration: italic;*/
		color: #D00;
	}

.note
{
	font-size: .8em;
	color: #707070;
}

	.note a
	{
		color: #707070;
	}


.label
{
	font-size: .8em;
	color: #FFF;
	background-color: #838F67;
/*	background-color: #5C6448;*/
	padding: .1em;
	padding-left: .3em;
	padding-right: .3em;
}


#footer
{
	margin-top: 10px;
	clear: both;
	font-size: 75%;
	background: transparent;
	color: inherit;
	padding: 2px 1px 2px 1px;
	border-top: 1px solid #838F67;
	text-align: right;
}


.column_left, .column_right
{
	float: left;
	width: 49%;
}

	.column_left
	{
		margin-right: 2%;
	}

	.columnright
	{
/*		margin-left: 1%;*/
	}

.rootblock
{
	background:#FFFFFF url(images/stripe.gif) repeat scroll 0 0;
	border: 1px solid #EEE;
	padding: .5em;
	margin-bottom: 1em;
}

	.rootblock h2
	{
		margin: 0;
		margin-bottom: 1em;
		padding: .5em;
		background: #FFF;
		border: 1px solid #EEE;
		color: #39414F;
	}

	.rootblock h3
	{
		margin: 0;
		padding-left: 1em;
		background: transparent;
		color: #39414F;
	}

	.rootblock p
	{
		text-align: left;
	}

.button, input, textarea, button
{
/*
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	-webkit-border-radius: 3px;
	margin: 0;
	padding: .2em .5em .2em .5em;
	background: #FFF;
	border: 1px solid #39414F;
	font-weight: bold;
	color: #707070;
*/
/*
	border: 1px solid #838F67;
	background: #838F67;
*/
	border: 2px solid #5C6448;
	background: #5C6448;
	color: #fff;
/*	margin-right: 2px;*/
	margin: 0;
}

	input, textarea, button
	{
		font-weight: normal;
	}

	a.button
	{
		padding: .2em .5em .2em .5em;
	}

/*	a.button:hover, input:focus, textarea:focus, button:focus
	input:focus, textarea:focus, button:focus*/
	input:focus, button:focus
	{
/*
		color: #39414F;
		border: 1px solid #000;
		background: #FFF;
		border: 1px solid #5C6448;
*/
		border: 2px solid: #838F67;
		background: #838F67;
	}	

	a.button:hover
	{
		padding: .2em .5em .2em .5em;
		border: 2px solid: #838F67;
		background: #838F67;
		color: #fff;
	}

/*	input.searchfield, textarea:focus*/
	input.searchfield, textarea, input[type=text], input[type=password]
	{
		background: #FFF;
		color: #222;

	}

	input.searchfield
	{
		width: 150px;
	}

/*** Notes ***/
/*
border-width:
	This property is a shorthand for the border-top-width, border-right-width, border-bottom-width, and border-left-width properties.
*/

/*** EOF ***/
